<li id="event-<%= event.id %>">
  <span class="user"><%= link_to event.user.name, event.user %></span>
  <h4><span class="title xyz"><%= event.title %></span></h4>
  <span class="content xyz"><%= event.content %></span>
  <%= image_tag event.picture.url if event.picture? %>
  <span class="timestamp xyz">
    Posted <%= time_ago_in_words(event.created_at) %> ago.
    <% if current_user?(event.user) %>
      <%= link_to "delete", event, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>